body {
    font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
    'Arial', sans-serif;
    margin: 0 auto;
    text-align: center;
}
a{
    text-decoration: none;
    color: black;
}
